<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        const json = [{
    "CoinInfo": {
        "Id": "950787",
        "Name": "CBETH",
        "FullName": "Coinbase Wrapped Staked ETH",
        "Internal": "CBETH",
        "ImageUrl": "/media/43607732/cbeth.png",
        "Url": "/coins/cbeth/overview",
        "Algorithm": "N/A",
        "ProofType": "N/A",
        "Rating": {
            "Weiss": {
                "Rating": "",
                "TechnologyAdoptionRating": "",
                "MarketPerformanceRating": ""
            }
        },
        "NetHashesPerSecond": 0,
        "BlockNumber": 0,
        "BlockTime": 0,
        "BlockReward": 0,
        "AssetLaunchDate": "2022-02-07",
        "MaxSupply": -1,
        "Type": 1,
        "DocumentType": "Webpagecoinp"
    },
    "RAW": {
        "USD": {
            "TYPE": "5",
            "MARKET": "CCCAGG",
            "FROMSYMBOL": "CBETH",
            "TOSYMBOL": "USD",
            "FLAGS": "2052",
            "PRICE": 1989.1352,
            "LASTUPDATE": 1688556247,
            "MEDIAN": 1989.62694,
            "LASTVOLUME": 0.16529,
            "LASTVOLUMETO": 328.784157208,
            "LASTTRADEID": "722131",
            "VOLUMEDAY": 31.712930000000004,
            "VOLUMEDAYTO": 63081.30535813601,
            "VOLUME24HOUR": 179.20475,
            "VOLUME24HOURTO": 356462.4762322,
            "OPENDAY": 2013.7832,
            "HIGHDAY": 2020.2104,
            "LOWDAY": 1971.1432,
            "OPEN24HOUR": 2028.1976,
            "HIGH24HOUR": 2033.19792,
            "LOW24HOUR": 1970.2488,
            "LASTMARKET": "Coinbase",
            "VOLUMEHOUR": 0,
            "VOLUMEHOURTO": 0,
            "OPENHOUR": 1985.048,
            "HIGHHOUR": 1993.056,
            "LOWHOUR": 1984.4136,
            "TOPTIERVOLUME24HOUR": 179.20475,
            "TOPTIERVOLUME24HOURTO": 356462.4762322,
            "CHANGE24HOUR": -39.062400000000025,
            "CHANGEPCT24HOUR": -1.9259661879098973,
            "CHANGEDAY": -24.64800000000014,
            "CHANGEPCTDAY": -1.2239649233343557,
            "CHANGEHOUR": 4.087199999999939,
            "CHANGEPCTHOUR": 0.20589930319065025,
            "CONVERSIONTYPE": "multiply",
            "CONVERSIONSYMBOL": "ETH",
            "CONVERSIONLASTUPDATE": 1688578846,
            "SUPPLY": 1130180.7281145,
            "MKTCAP": 2248082268.6541815,
            "MKTCAPPENALTY": 0,
            "CIRCULATINGSUPPLY": 0,
            "CIRCULATINGSUPPLYMKTCAP": 0,
            "TOTALVOLUME24H": 476.32254000000677,
            "TOTALVOLUME24HTO": 947469.9308674214,
            "TOTALTOPTIERVOLUME24H": 476.32254000000677,
            "TOTALTOPTIERVOLUME24HTO": 947469.9308674214,
            "IMAGEURL": "/media/43607732/cbeth.png"
        }
    },
    "DISPLAY": {
        "USD": {
            "FROMSYMBOL": "CBETH",
            "TOSYMBOL": "$",
            "MARKET": "CryptoCompare Index",
            "PRICE": "$ 1,989.14",
            "LASTUPDATE": "6 hours ago",
            "LASTVOLUME": "CBETH 0.1653",
            "LASTVOLUMETO": "$ 328.78",
            "LASTTRADEID": "722131",
            "VOLUMEDAY": "CBETH 31.71",
            "VOLUMEDAYTO": "$ 63,081.3",
            "VOLUME24HOUR": "CBETH 179.20",
            "VOLUME24HOURTO": "$ 356,462.5",
            "OPENDAY": "$ 2,013.78",
            "HIGHDAY": "$ 2,020.21",
            "LOWDAY": "$ 1,971.14",
            "OPEN24HOUR": "$ 2,028.20",
            "HIGH24HOUR": "$ 2,033.20",
            "LOW24HOUR": "$ 1,970.25",
            "LASTMARKET": "Coinbase",
            "VOLUMEHOUR": "CBETH 0",
            "VOLUMEHOURTO": "$ 0",
            "OPENHOUR": "$ 1,985.05",
            "HIGHHOUR": "$ 1,993.06",
            "LOWHOUR": "$ 1,984.41",
            "TOPTIERVOLUME24HOUR": "CBETH 179.20",
            "TOPTIERVOLUME24HOURTO": "$ 356,462.5",
            "CHANGE24HOUR": "$ -39.06",
            "CHANGEPCT24HOUR": "-1.93",
            "CHANGEDAY": "$ -24.65",
            "CHANGEPCTDAY": "-1.22",
            "CHANGEHOUR": "$ 4.09",
            "CHANGEPCTHOUR": "0.21",
            "CONVERSIONTYPE": "multiply",
            "CONVERSIONSYMBOL": "ETH",
            "CONVERSIONLASTUPDATE": "Just now",
            "SUPPLY": "CBETH 1,130,180.7",
            "MKTCAP": "$ 2.25 B",
            "MKTCAPPENALTY": "0 %",
            "CIRCULATINGSUPPLY": "CBETH 0",
            "CIRCULATINGSUPPLYMKTCAP": "$ 0",
            "TOTALVOLUME24H": "CBETH 476.32",
            "TOTALVOLUME24HTO": "$ 947.47 K",
            "TOTALTOPTIERVOLUME24H": "CBETH 476.32",
            "TOTALTOPTIERVOLUME24HTO": "$ 947.47 K",
            "IMAGEURL": "/media/43607732/cbeth.png"
        }
    }
},

{
    "CoinInfo": {
        "Id": "929418",
        "Name": "CRO",
        "FullName": "Cronos",
        "Internal": "CRO",
        "ImageUrl": "/media/34478435/mco.png",
        "Url": "/coins/cro/overview",
        "Algorithm": "N/A",
        "ProofType": "PoS",
        "Rating": {
            "Weiss": {
                "Rating": "B-",
                "TechnologyAdoptionRating": "B-",
                "MarketPerformanceRating": "C-"
            }
        },
        "NetHashesPerSecond": 0,
        "BlockNumber": 0,
        "BlockTime": 6,
        "BlockReward": 0,
        "AssetLaunchDate": "2019-11-14",
        "MaxSupply": 30263013692,
        "Type": 1,
        "DocumentType": "Webpagecoinp"
    },
    "RAW": {
        "USD": {
            "TYPE": "5",
            "MARKET": "CCCAGG",
            "FROMSYMBOL": "CRO",
            "TOSYMBOL": "USD",
            "FLAGS": "2052",
            "PRICE": 0.05721,
            "LASTUPDATE": 1688578843,
            "MEDIAN": 0.0572,
            "LASTVOLUME": 1097.2,
            "LASTVOLUMETO": 62.75984,
            "LASTTRADEID": "22082548",
            "VOLUMEDAY": 9468750.700026406,
            "VOLUMEDAYTO": 543977.281953755,
            "VOLUME24HOUR": 12365579.1501191,
            "VOLUME24HOURTO": 709676.8934091376,
            "OPENDAY": 0.05727,
            "HIGHDAY": 0.0579,
            "LOWDAY": 0.05677,
            "OPEN24HOUR": 0.05727,
            "HIGH24HOUR": 0.05792,
            "LOW24HOUR": 0.05673,
            "LASTMARKET": "Coinbase",
            "VOLUMEHOUR": 351426.39999999997,
            "VOLUMEHOURTO": 20129.401829999988,
            "OPENHOUR": 0.05726,
            "HIGHHOUR": 0.05739,
            "LOWHOUR": 0.05715,
            "TOPTIERVOLUME24HOUR": 12359913.8,
            "TOPTIERVOLUME24HOURTO": 709339.99739,
            "CHANGE24HOUR": -0.000060000000000004494,
            "CHANGEPCT24HOUR": -0.1047668936616108,
            "CHANGEDAY": -0.000060000000000004494,
            "CHANGEPCTDAY": -0.1047668936616108,
            "CHANGEHOUR": -0.00005000000000000143,
            "CHANGEPCTHOUR": -0.08732099196647125,
            "CONVERSIONTYPE": "direct",
            "CONVERSIONSYMBOL": "",
            "CONVERSIONLASTUPDATE": 1688578843,
            "SUPPLY": 30263013692,
            "MKTCAP": 1731347013.31932,
            "MKTCAPPENALTY": 0,
            "CIRCULATINGSUPPLY": 25263013692,
            "CIRCULATINGSUPPLYMKTCAP": 1445297013.31932,
            "TOTALVOLUME24H": 99294524.30216928,
            "TOTALVOLUME24HTO": 5682881.845557928,
            "TOTALTOPTIERVOLUME24H": 96367586.13113056,
            "TOTALTOPTIERVOLUME24HTO": 5515418.93145398,
            "IMAGEURL": "/media/34478435/mco.png"
        }
    },
    "DISPLAY": {
        "USD": {
            "FROMSYMBOL": "CRO",
            "TOSYMBOL": "$",
            "MARKET": "CryptoCompare Index",
            "PRICE": "$ 0.05721",
            "LASTUPDATE": "Just now",
            "LASTVOLUME": "CRO 1,097.20",
            "LASTVOLUMETO": "$ 62.76",
            "LASTTRADEID": "22082548",
            "VOLUMEDAY": "CRO 9,468,750.7",
            "VOLUMEDAYTO": "$ 543,977.3",
            "VOLUME24HOUR": "CRO 12,365,579.2",
            "VOLUME24HOURTO": "$ 709,676.9",
            "OPENDAY": "$ 0.05727",
            "HIGHDAY": "$ 0.05790",
            "LOWDAY": "$ 0.05677",
            "OPEN24HOUR": "$ 0.05727",
            "HIGH24HOUR": "$ 0.05792",
            "LOW24HOUR": "$ 0.05673",
            "LASTMARKET": "Coinbase",
            "VOLUMEHOUR": "CRO 351,426.4",
            "VOLUMEHOURTO": "$ 20,129.4",
            "OPENHOUR": "$ 0.05726",
            "HIGHHOUR": "$ 0.05739",
            "LOWHOUR": "$ 0.05715",
            "TOPTIERVOLUME24HOUR": "CRO 12,359,913.8",
            "TOPTIERVOLUME24HOURTO": "$ 709,340.0",
            "CHANGE24HOUR": "$ -0.000060",
            "CHANGEPCT24HOUR": "-0.10",
            "CHANGEDAY": "$ -0.000060",
            "CHANGEPCTDAY": "-0.10",
            "CHANGEHOUR": "$ -0.000050",
            "CHANGEPCTHOUR": "-0.09",
            "CONVERSIONTYPE": "direct",
            "CONVERSIONSYMBOL": "",
            "CONVERSIONLASTUPDATE": "Just now",
            "SUPPLY": "CRO 30,263,013,692.0",
            "MKTCAP": "$ 1.73 B",
            "MKTCAPPENALTY": "0 %",
            "CIRCULATINGSUPPLY": "CRO 25,263,013,692.0",
            "CIRCULATINGSUPPLYMKTCAP": "$ 1.45 B",
            "TOTALVOLUME24H": "CRO 99.29 M",
            "TOTALVOLUME24HTO": "$ 5.68 M",
            "TOTALTOPTIERVOLUME24H": "CRO 96.37 M",
            "TOTALTOPTIERVOLUME24HTO": "$ 5.52 M",
            "IMAGEURL": "/media/34478435/mco.png"
        }
    }
}]

json.map((crypto, index) => {
                        console.log(crypto)
                        
                            console.log(index+1)
                            console.log(crypto.RAW.USD.FROMSYMBOL)
                            console.log(crypto.RAW.USD.PRICE)
                            console.log(crypto.RAW.USD.CHANGEPCT24HOUR)
                        
                    })
    </script>
</body>
</html>